---
const {title, url, host, start_at, city_state, is_known} = Astro.props;
---
<article>
  <header>
    <a href={"https://lu.ma/"+url}>
      {title}
    </a>
  </header>
  <form>
    <input type="hidden" id="title" name="title" value={title} />
    <input type="hidden" id="start_at" name="start_at" value={start_at} />
    <input type="hidden" id="city_state" name="city_state" value={city_state} />
    <button 
      hx-post={"/api/event_details/luma/"+url}
      hx-swap="outerHTML"
      class={is_known ? ""  : "secondary" }
    >
      Scrape
    </button>
  </form>
  <footer>{host}</footer>
</article>
