---
import jsdom from "jsdom";
const { JSDOM } = jsdom;
const {title, url, host, start_at, city_state} = Astro.props;

const eventUrl = "https://lu.ma/"+url;
// const response = await fetch(eventUrl); //Fetching this per-component triggers a Lu.ma bot blocker
// const bodyText = await response.text();

// const dom = new JSDOM(bodyText);
// console.log(eventUrl);

// const query = dom.window.document.querySelector(".event-page-right > .event-about-card > .content > .mirror-content");
// const contentText = query != null ? query.textContent : "No Text";
---
<article>
  <header>
    <a href={"https://lu.ma/"+url}>
      {title}
    </a>
  </header>
  <form>
    <input type="hidden" id="title" name="title" value={title} />
    <input type="hidden" id="start_at" name="start_at" value={start_at} />
    <input type="hidden" id="city_state" name="city_state" value={city_state} />
    <button 
      hx-post={"/api/event_details/luma/"+url}
      hx-swap="outerHTML"
    >
      Scrape
    </button>
  </form>
  <footer>{host}</footer>
</article>
